<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>


<div class="field">
<h5>Title</h5>
<%= f.text_field :title %>
</div>

<div class="field">
<h5>Body</h5>
<%= f.text_area :body %>
</div>

<div class="actions">
<%= f.submit 'Update Book' %>
</div>

<% end %>

<%= link_to "show", book_path(@book.id) %>
<%= link_to "back", { :action => "index" }, :method => "get"  %>