<h3>Books</h3>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% @books.each do |book| %>
<table>
 <thead>
  <tr>
   <th>title</th>
   <th>body</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><%= book.title %></td>
   <td><%= book.body %></td>
   <td>
    <%= link_to "show", book_path(book.id) %>
    <%= link_to "edit", edit_book_path(book.id) %>
    <%= link_to "destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
   </td>
  </tr>
 </tbody>

</table>

<% end %>

<h3>Books</h3>

<%= form_with model: @book do |f| %>

 <h3>New book</h3>
 <h6>Title</h6>
 <%= f.text_field :title %>

 <h6>Body</h6>
 <%= f.text_area :body %>

 <%= f.submit 'Create Book' %>
<% end %>
