<h1>Books</h1>

<table>
 <thead>
  <tr>
   <th>title</th>
   <th>body</th>
  </tr>
 </thead>
 <tbody>
 <% @books.each do |book| %>
  <tr>
   <td><%= book.title %></td>
   <td><%= book.body %></td>
   <td>
    <%= link_to "show", book_path(book.id) %>
    <%= link_to "edit", edit_book_path(book.id) %>
    <%= link_to "destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
   </td>
  </tr>
 <% end %>
 </tbody>
</table>

<%= form_with model: @book do |f| %>

 <h2>New book</h2>

 <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="field">
 <h6>Title</h6>
 <%= f.text_field :title %>
</div>

<div class="field">
 <h6>Body</h6>
 <%= f.text_area :body %>
</div>

<div class="actions">
 <%= f.submit 'Create Book' %>
<% end %>
</div>
